<<<<<<< HEAD
/* Agrega aqui tu CSS */
div {
	width: 200px;
	height: 240px;
	margin-left:20px;
	border:2px solid #eb8459;
	padding:10px;

}
=======
/* Agrega aqui tu CSS */
>>>>>>> bbe809175a9c1f063e616c5bb8707dce89d71465
